html {
  background: #1E1C1C;
  scroll-behavior: smooth;
}

body {
  max-width: 375px;
  margin: auto;
  padding: 15px;
}

header {
  background-color: #E9DBC4;
}

.program {
  margin-top: 0;
}

p {
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  border: 10px;
  background-color: #1E271D;
  padding: 10px;
  text-decoration: none;
  color: #E9DBC4;
}

img {
  max-width: 100%;
  margin: 20px auto;
  border: 3px solid;
  box-sizing: border-box;
  display: block;
}

h1 {
  font-family: 'Bungee', cursive;
  padding: 10px 80px 10px 20px;
  font-size: 35px;
  margin-bottom: 0px;
}

h2 {
  font-family: 'Bungee', cursive;
  margin-bottom: 0px;
}

hr {
  width: 100%;
  color: #E9DBC4;
}

a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: #E9DBC4;
}

.additional-info {
  text-align: center;
}

.container-dark {
  background-color: #1E271D;
  color: #E9DBC4;
  margin-bottom: 0px;
  padding: 10px 20px 10px 20px;
}

.container-light {
  background-color: #E9DBC4;
  color: #141414;
  margin-bottom: 0px;
  padding: 10px 20px 20px 20px;
}

.food-truck {
  width: 90px;
  height: auto;
  border: none;
  margin: 0px 120px;
}

footer {
  background: #1E271D;
  color: #E9DBC4;
  margin-bottom: 0px;
  padding: 10px 20px 10px 20px;
  text-align: center;
}