html {
  background: #E9DBC4;
  background: linear-gradient(0deg, #1E1C1C 6%, #1E1C1C 31%, #E9DBC4 85%);
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  font-family: 'Bungee', cursive;
  font-family: 'Ubuntu', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-family: 'Bungee', cursive;
}

h2 {
  font-family: 'Bungee', cursive;
}

 a {
  font-family: 'Ubuntu', sans-serif;
}

.container-dark {
  background-color: #141414;
  color: #E9DBC4;
}

.container-light {
  background-color: #E9DBC4;
  color: #141414;
}

footer {
  background: #141414;
  color: #E9DBC4;
}